<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="layout/main.html">

    <div layout:fragment="navbar">
        <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #028aa2">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="'/'" style="color: #ffffff">TASK MANAGER</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link" th:href="'/'" style="color: #ffffff">All Tasks</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div layout:fragment="mainContent">
        <form th:action="@{'/details'}" method="post">
            <input type="hidden" name="id" th:value="${task.id}">
            <div class="mb-3">
                <label for="taskName" class="form-label">NAME:</label>
                <input type="text" class="form-control" id="taskName" placeholder="Write task's name" th:value="${task.name}" name="name" required>
            </div>
            <div class="mb-3">
                <label for="taskDescription" class="form-label">TASK DESCRIPTION</label>
                <textarea class="form-control" id="taskDescription" rows="3" name="description" th:text="${task.description}"></textarea>
            </div>
            <div class="mb-3">
                <label for="taskDeadline" class="form-label">DEADLINE DATE:</label>
                <input type="text" class="form-control" id="taskDeadline" placeholder="23.10.2020" name="deadlineDate" th:value="${task.deadlineDate}" required>
            </div>
            <div class="mb-3">
                IS COMPLETED:
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="isCompleted" id="completed" value="true" th:checked="${task.isCompleted()}">
                    <label class="form-check-label" for="completed">
                        YES
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="isCompleted" id="notCompleted" value="false" th:checked="${!task.isCompleted()}">
                    <label class="form-check-label" for="notCompleted">
                        NO
                    </label>
                </div>
            </div>
            <button class="btn btn-primary">Update Task</button>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                Delete Task
            </button>
        </form>
        <form th:action="@{'/deleteTask'}" method="post">
            <input type="hidden" th:value="${task.id}" name="id">
            <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">

                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="staticBackdropLabel">Modal title</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Are you sure?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                            <button class="btn btn-danger">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>

</html>