<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="~{head.html}">
</head>
<body>
    <header class="header" th:insert="~{navbar.html}">
    </header>
    <div class="container">
        <div class="row mt-3">
            <div class="col-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">NAME</th>
                            <th scope="col">SURNAME</th>
                            <th scope="col">EXAM</th>
                            <th scope="col">MARK</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="student:${students}">
                            <th scope="row" th:if="${student.student_exam < 50}" style="color: red; font-weight: bold" th:text="${student.student_id}"></th>
                            <th scope="row" th:if="${student.student_exam >= 50}" th:text="${student.student_id}"></th>
                            <td th:if="${student.student_exam < 50}" style="color: red; font-weight: bold" th:text="${student.student_name}"></td>
                            <td th:if="${student.student_exam >= 50}" th:text="${student.student_name}"></td>
                            <td th:if="${student.student_exam < 50}" style="color: red; font-weight: bold" th:text="${student.student_surname}"></td>
                            <td th:if="${student.student_exam >= 50}" th:text="${student.student_surname}"></td>
                            <td th:if="${student.student_exam < 50}" style="color: red; font-weight: bold" th:text="${student.student_exam}"></td>
                            <td th:if="${student.student_exam >= 50}" th:text="${student.student_exam}"></td>
                            <td th:if="${student.student_exam < 50}" style="color: red; font-weight: bold" th:text="${student.student_mark}"></td>
                            <td th:if="${student.student_exam >= 50}" th:text="${student.student_mark}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>